CLIENT_GATEWAY_PORT=3010
NATS_SERVERS=nats://nats-server:4222
PAYMENTS_MS_PORT=3003
STRIPE_SECRET=
STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel

# https://dashboard.stripe.com/test/webhooks/we_1PibnJ2NCrdQBycMJTfPVFfc
# Este es el siging secret del webhook
STRIPE_ENDPOINT_SECRET=