[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-microservices-brian/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-microservices-brian/products-microservice.git
[submodule "orders-microservices"]
	path = orders-microservices
	url = https://github.com/Nest-microservices-brian/orders-microservice.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Nest-microservices-brian/payments-ms.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Nest-microservices-brian/auth-ms.git
